<!DOCTYPE html>
<html>
  <head>
    <title>data edit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>data edit</h2>
    <form action="/store/<%- @storeId %>/edit/" method="post">
    <table border=1>
      <tr>
        <td>name</td><td><input type="text" name="name" value="<%- @name %>" size="20" /></td>
      </tr>
      <tr>
        <td>data</td><td><input type="text" name="data" value="<%- @data %>" size="20" /></td>
      </tr>
    </table>
    <input type="submit" name="submit" value="save" />
    </form>
  </body>
</html>
