<!DOCTYPE html>
<html>
  <head>
    <title>data list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>data list</h2>
    <a href='/store/regist'>data regist</a><br>
    <ul>
      <% for data, index in @data : %>
        <li><a href="/store/<%- index+1 %>/"><%- data['name'] %></a></li>
      <% end %>
    </ul>
  </body>
</html>
