<!DOCTYPE html>
<html>
  <head>
    <title>data regist</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>data regist</h2>
    <form action="/store/regist/" method="post">
      <p>name：<input type="text" name="name" value="" size="20" /></p>
      <p>data：<input type="text" name="data" value="" size="20" /></p>
      <p><input type="submit" name="submit" value="regist" /></p>
    </form>
  </body>
</html>
