<!DOCTYPE html>
<html>
  <head>
    <title>data list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>data show</h2>
    <table border=1>
      <tr>
        <td>name</td><td><%- @name %></td>
      </tr>
      <tr>
        <td>data</td><td><%- @data %></td>
      </tr>
    </table>
    <a href="/store/<%- @storeId %>/edit">edit</a><br>
    <a href="/store/<%- @storeId %>/delete">delete</a><br>
    <br>
    <a href="/store">back</a><br>
  </body>
</html>
