<!DOCTYPE html>
<html>
  <head>
    <title><%- @title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- @title %></h1>
    <p>Welcome to <%- @title2 %></p>
    <br>
    <a href='/store'>data list</a><br>
  </body>
</html>
